.git
.gitignore
.vscode
node_modules
tests
docs
coverage

# Entornos virtuales
venv/
.env
*.env
.venv

# Dependencias locales
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales
*.log
*.db

# Archivos del editor
.vscode/
.idea/

# Archivos de Docker que no deben copiarse
Dockerfile*
docker-compose*

# Cache
.cache/
.mypy_cache/
.pytest_cache/

# Recursos innecesarios
*.DS_Store
